* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 5px;
}

img {
    width: 200px;
    height: 190px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5px;
}

h3 {
    color: green;
    font-size: x-large;

}

p {
    width: 600px;

}

button {
    transition-duration: 400ms;
}

button:hover {
    box-shadow: 0px 0px 10px 0 rgb(255, 232, 149);
    background-color: rgb(255, 232, 149);
}

button:active {
    box-shadow: 0px 0px 10px 0 rgb(255, 222, 8);
    background-color: rgb(255, 222, 8);
}

.addAndRemove {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: relative;
    width: 300px;
    height: 75px;

    background: #FFFFFF;
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 187px;
    height: 54px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.product {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: relative;
    width: 715px;
    height: 250px;
    margin: 20px;
    background: linear-gradient(99.94deg, #FFE4BB 31.45%, #FFC46C 57.45%);
    border: 1px solid #000000;
    border-radius: 20px;
}

.count-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 253px;
    height: 56px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    display: flex;
    align-items: center;
}

.desc {
    font-size: 16px;
}

input {
    height: 40px;
    width: 50px;
    font-size: 24px;
    transition-duration: 250ms;
}

input:active {
    box-shadow: 0px 0px 10px 0 rgb(255, 222, 8);
    background-color: rgb(255, 222, 8);
}

.add-cookie {
    width: 80px;
    height: 50px;
}

.product-count {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}

.plus,
.minus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 30px;
    height: 30px;

    background: #ffa600;
    box-shadow: 0px 0px 4px rgba(163, 233, 255, 0.2);
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.remove {
    margin: 10px;
    background: #ffa600;
    width: 201px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

body {
    background: #ffe7ba;
}

.main-product {
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 253px;
    height: 56px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}